* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

input::placeholder {
  opacity: 50%;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.pointer {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
}

#logo {
  margin-top: 42px;
  height: 93px;
  width: auto;
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1250px;
  padding: 0 30px;
  margin: auto;
}

/* Search input */

#search {
  margin: 0 auto;
  display: flex;
  padding: 0;
}

#search input {
  height: 69px;
  border-radius: 5px 0 0 5px;
  border-right: none;
  background-color: #e7e7e7;
}

.loupe {
  background-color: #e7e7e7;
  padding: 20px 20px 15px 20px;
  border-radius: 0px 5px 5px 0px;
}
/* FILTERED RESULTS */

.filteredby {
  display: flex;
}

.color {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 7px 15px;
  margin: 5px;
  border-radius: 5px;
  width: fit-content;
}

/* Filter */

.hidden {
  display: none;
}

.top_section {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  width: 100%;
}

.container_btn {
  display: flex;
  gap: 20px;
  margin: 20px 10px 20px 0px;
  padding-left: 0;
}

.filter_btn {
  height: 69px;
  width: 170px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
}

.filter_btn_input {
  border: none;
  width: 90px;
  color: #ffffff;
  outline: none;
  display: none;
}

.grande .filter_btn_input {
  display: block;
}

.grande .tag_name {
  display: none;
}

.filter_btn_input::placeholder {
  color: #ffffff;
}

.btn_ingredient {
  background-color: #3282f7;
}

.btn_ingredient input {
  background-color: #3282f7;
}

.btn_appareils {
  background-color: #68d9a4;
}

.btn_appareils input {
  background-color: #68d9a4;
}

.btn_ustensiles {
  background-color: #ed6454;
}

.btn_ustensiles input {
  background-color: #ed6454;
}

.filter_type {
  height: 69px;
  width: 170px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}

.grande {
  height: fit-content;
  width: 667px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grande .top_section {
  padding: 20px;
  justify-content: space-between;
}

.grande input {
  width: 250px;
}

.grande .bottom_section {
  width: 667px;
  height: auto;
  display: grid;
}

.bottom_section {
  padding-left: 20px;
  display: none;
}

.bottom_section ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 0;
}

.bottom_section ul li {
  font-style: regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: left;
}

/* RECIPE CARD */

#section_card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carte {
  height: 364px;
  width: 379px;
  border-radius: 5px;
}

.card-image {
  height: 174px;
  border-radius: 5px 5px 0px 0px;
  background: #c7bebe;
}

.card_info {
  background: #e7e7e7;
  height: 182px;
  border-radius: 0px 0px 5px 5px;
}

.titre {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.titre h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}

#time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#minutes {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.card_details {
  display: flex;
  padding: 17px 15px 0 15px;
}

.bold {
  font-weight: 700;
}

.list_ingredients ul {
  width: 181px;
}

.list_ingredients ul,
p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
}

#card_recipe {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
