* {
  margin: 0;
  padding: 10px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}

#logo {
  margin-top: 42px;
  height: 93px;
  width: auto;
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1250px;
  padding: 0 30px;
  margin: auto;
}

/* Search input */

#search {
  margin: 0 auto;
  display: flex;
  padding: 0;
}

#search input {
  height: 69px;
  border-radius: 5px 0 0 5px;
  border-right: none;
  background-color: #e7e7e7;
}

.image {
  border-radius: 0 5px 5px 0;
  background-color: #e7e7e7;
  border-left: none;
  padding-bottom: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  transform: translate(-10px);
}

/* Filtered btn */

.filteredby {
  display: flex;
  align-items: center;
  /* margin-left: 120px; */
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #3282f7;
  color: #ffffff;
  width: 107px;
  height: 37px;
  border-radius: 0.375rem;
}

.item p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  margin: 0;
}

/* Filter */
.filter {
  display: flex;
  padding: 5px;
  gap: 20px;
  margin-left: 135px;
}

.menu-items {
  height: 69px;
  width: 170px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}

.btn.ingredients {
  background: #3282f7;
}

.btn.appareils {
  background-color: #68d9a4;
}

.btn.ustensiles {
  background-color: #ed6454;
}
